<div class="container">
    CREATE USER
    <form [formGroup]="userForm" novalidate>
<div class="form-group">
    <label>UserName</label>
        <input type="text" name="username" required formControlName="username" #username class="form-control">
        <div class="alert alert-danger" *ngIf="userForm.controls['username'].invalid && (userForm.controls['username'].dirty || userForm.controls['username'].touched)">
            <span *ngIf="userForm.controls['username'].errors.required">Please Enter Username</span>
        </div>
</div>
<div class="form-group">
    <label>Password</label>
    <input type="password" name="password"  required class="form-control" formControlName="password" #password>
    <div class="alert alert-danger" *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)">
        <span *ngIf="userForm.controls['password'].errors.required">Please Enter Password</span>
    </div>
  </div>
  <div class="form-group">
    <label for="">Email Address</label>
    <input type="text" name="email"  required class="form-control" formControlName="email" #email>
    <div class="alert alert-danger" *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">
        <span *ngIf="userForm.controls['email'].errors.required">Please Enter Password</span>
    </div>
  </div>
  <div class="form-group">
    <label for="">Role</label>
    <select name="role" formControlName="role" #role class="form-control">
        <option value="">Select</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
     </select>
  </div>
  <div>
    <button type="submit" class="btn btn-primary"
     (click)="create(username.value, password.value,email.value,role.value)"
    [disabled]="userForm.pristine || userForm.invalid" >
     Add
    </button>
</div>
    </form>
</div>
